@media (max-width: 1200px)
  .slider
    &__item
      width: 833px
  .hero
    &-wrapper
      min-height: 550px
@media (max-width: 1025px)
  .slider
    &__item
      width: 663px
  .hero
    &-wrapper
      min-height: 437px

@media (max-width: 992px)
  .header
    padding-right: 30px
    padding-left: 30px
  .footer
    padding-right: 30px
    padding-left: 30px
  .hero
    margin-left: 0
    margin-bottom: 0

    &-wrapper
      min-height: 711px
      position: relative
      flex-direction: column
      &:last-child
        margin-bottom: 0

    &__info
      order: 10
      padding-right: 0
      padding-left: 0
      padding-bottom: 0
    &__date
      font-size: 18px

    &__label
      padding-right: 30px
      padding-left: 30px
      margin-bottom: 120px
    &__text
      max-width: 100%
      font-size: 18px
      line-height: 24px
    &__link
      width: 100%
      height: 70px
      position: absolute
      bottom: 0
      text-align: center
      display: flex
      justify-content: center
      align-items: center
  .slider
    &__item
      width: 1010px
    &__img
      height: 400px
      object-fit: cover
  .footer
    padding-bottom: 70px
    padding-right: 70px
@media (max-width: 768px)
  .footer
    padding-top: 50px
    padding-bottom: 60px
  .header
    padding-top: 50px
    padding-bottom: 40px
    background-color: rgba(7, 0, 48, 0.9)

    overflow: hidden
    &--fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 100
  body
    padding-top: 145px

  .navbar
    &__link
      width: 220px

  .menu
    display: none
    &__link
      font-size: 20px
      margin-right: 50px
  .hero
    margin-top: 34px
    &-wrapper
    &__link
      color: #000
      background: #fff
  .slider
    &__item
      width: 785px
  .footer
    padding-right: 50px
    padding-bottom: 50px
    &-wrapper
    &__social
      margin-right: 20px
  .burger
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 20px
    height: 15px
    border: none
    outline: none
    &__line
      width: 20px
      height: 2px
      background-color: $primary
  .overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.5)
    z-index: 100000
    opacity: 0
    visibility: hidden
    transition: .55s opacity, .55s visibility
    width: 100vw
    height: 100vh
    &--visible
      opacity: 1
      visibility: visible
  .drop-menu
    display: block
    background-color: $primary
    border-radius: 0px 0px 20px 20px
    position: fixed
    width: 100%
    min-height: 259px
    z-index: 100001
    top: 0
    left: 0
    transform: translateY(-100%)
    transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1)

    &--visible
      transform: translateY(0)
      transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1)
    &__close
      margin-left: auto

    &__navbar
      position: relative
      display: flex
      align-items: center
      justify-content: space-between
      padding: 50px 30px 20px 30px
    &__list
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      list-style: none
      padding: 0
      margin: 0
      text-align: center
      margin-top: 20px
    &__link
      position: relative
      width: 100%
      text-decoration: none
    &__item
      color: #000
      padding-top: 17px
      padding-bottom: 17px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 150%
    &__line
      display: block
      position: absolute
      top: 0
      width: 100%
      padding: 0
      height: 1px
      background-color: #EBEBEB
  .close
    border: none
    outline: none
  .opacity-logo
    position: absolute
    top: 50px
    left: 30px
    transition: transform 1500ms
    opacity: 0
    visibility: hidden
    transition: .55s opacity, .55s visibility
    &--visible
      visibility: visible
      opacity: 1
      z-index: 100005
    &__img
      width: 220px
@media (max-width: 541px)
  .slider
    &__item
      width: 563px

@media (max-width: 480px)
  body
    padding-top: 96px
  .footer
    padding-top: 30px
    padding-bottom: 40px
  .header
    padding-top: 40px
    padding-bottom: 25px

  .navbar
    &__link
      width: 140px

  .menu
    &__link
      font-size: 18px
      margin-right: 25px
      line-height: 150%
  .hero
    margin: 0 auto
    margin-top: 34px
    &-wrapper
      min-height: 0
      margin-bottom: 30px
    &__info
      padding-top: 10px
    &__label
      padding-left: 15px
      padding-right: 15px
    &__title
      font-size: 30px
      line-height: 37px
      margin-bottom: 10px
    &__text
      font-size: 14px
      line-height: 150%
      margin-bottom: 10px
    &__date
      font-size: 14px
      line-height: 17px
      margin-bottom: 18px
  .slider
    &__item
      width: 480px
    &__img
      height: auto

  .slider .slick-arrow.slick-prev
    left: 20px
    width: 10px
    height: 100%
  .slider .slick-arrow.slick-next
    right: 20px
    width: 10px
    height: 100%
  .footer
    padding-top: 15px
    padding-bottom: 20px
    padding-right: 0
    padding-left: 25px
    &-wrapper
      justify-content: flex-start
    &__social
      margin-right: 20px
    &__item
      font-style: normal
      font-weight: normal
      font-size: 14.3036px
      line-height: 18px
  .drop-menu
    &__navbar
      padding-top: 35px
      padding-bottom: 30px
  .opacity-logo
    top: 40px
    left: 30px
    &__img
      width: 141px
@media (max-width: 415px)
  .slider
    &__item
      width: 425px

@media (max-width: 380px)
  .navbar
    &__link
      width: 141px

  .menu
    &__link
      font-size: 12px
      margin-right: 20px
      line-height: 150%
  .slider
    &__item
      width: 380px
  .hero
    &-wrapper
  .slider
    &__item
      width: 371px
@media (max-width: 321px)
  .slider
    &__item
      width: 320px
@media (max-width: 280px)
  .slider
    &__item
      width: 275px
