*
  box-sizing: border-box
  color: $primary
body
  background: linear-gradient(158.73deg, #021A36 0%, #021A36 0.01%, #24002E 100%)
  font-family: 'Montserrat', sans-serif, 'Helvetica'
img
  max-width: 100%
