*
  box-sizing: border-box
  font-family: 'Gilam Black DEMO', sans-serif
  color: $primary
body
  background: linear-gradient(158.73deg, #021A36 0%, #021A36 0.01%, #24002E 100%)
img
  max-width: 100%

.container
  max-width: 1706px
  margin: auto
