*
  box-sizing: border-box
  color: $primary
body
  background: linear-gradient(158.73deg, #021A36 0%, #021A36 0.01%, #24002E 100%)
  font-family: 'Gilam Demo Black'
img
  max-width: 100%
@font-face
  font-family: 'Gilam'
  src: url('..fonts/Gilam-Light.woff2') format('woff2')
  src: url('..fonts/Gilam-Light.woff') format('woff')
  src: url('..fonts/Gilam-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Gilam'
  src: url('..fonts/Gilam-Regular.woff2') format('woff2')
  src: url('..fonts/Gilam-Regular.woff') format('woff')
  src: url('..fonts/Gilam-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Gilam'
  src: url('..fonts/Gilam-SemiBold.woff2') format('woff2')
  src: url('..fonts/Gilam-SemiBold.woff') format('woff')
  src: url('..fonts/Gilam-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
  font-display: swap
